<?xml version="1.0" encoding="UTF-8"?>
<codestyle>
	<formatter>
		<entry>
			<value>Kuroko\CodeStyleFilter\BeforeParentheses</value>
		</entry>
		<entry>
			<value>Kuroko\CodeStyleFilter\BeforeLeftBraces</value>
		</entry>
		<entry>
			<value>Kuroko\CodeStyleFilter\ArroundOperators</value>
		</entry>
		<entry>
			<value>Kuroko\CodeStyleFilter\TernaryOperator</value>
		</entry>
		<entry>
			<value>Kuroko\CodeStyleFilter\Others</value>
		</entry>
		<entry>
			<value>Kuroko\CodeStyleFilter\Indentation</value>
		</entry>
		<entry>
			<value>Kuroko\CodeStyleFilter\BracesPlacement</value>
		</entry>
	</formatter>
	<indents>
		<entry>
			<key>use_tab</key>
			<value>false</value>
		</entry>
		<entry>
			<key>smart_tab</key>
			<value>false</value>
		</entry>
		<entry>
			<key>indent</key>
			<value>4</value>
		</entry>
		<entry>
			<key>continuation_indent</key>
			<value>4</value>
		</entry>
	</indents>
	<spaces>
		<before_parentheses>
			<entry>
				<key>method_declaration</key>
				<value>false</value>
			</entry>
			<entry>
				<key>method_class</key>
				<value>false</value>
			</entry>
			<entry>
				<key>if</key>
				<value>false</value>
			</entry>
			<entry>
				<key>for</key>
				<value>false</value>
			</entry>
			<entry>
				<key>while</key>
				<value>false</value>
			</entry>
			<entry>
				<key>switch</key>
				<value>false</value>
			</entry>
			<entry>
				<key>catch</key>
				<value>false</value>
			</entry>
		</before_parentheses>
		<around_operators>
			<entry>
				<key>assignment</key>
				<value>true</value>
			</entry>
			<entry>
				<key>logical</key>
				<value>true</value>
			</entry>
			<entry>
				<key>equality</key>
				<value>true</value>
			</entry>
			<entry>
				<key>relational</key>
				<value>true</value>
			</entry>
			<entry>
				<key>bitwise</key>
				<value>true</value>
			</entry>
			<entry>
				<key>additive</key>
				<value>true</value>
			</entry>
			<entry>
				<key>multiplicative</key>
				<value>true</value>
			</entry>
			<entry>
				<key>unary</key>
				<value>false</value>
			</entry>
			<entry>
				<key>concatenation</key>
				<value>true</value>
			</entry>
		</around_operators>
		<before_left_brace>
			<entry>
				<key>class</key>
				<value>true</value>
			</entry>
			<entry>
				<key>method</key>
				<value>true</value>
			</entry>
			<entry>
				<key>if</key>
				<value>true</value>
			</entry>
			<entry>
				<key>else</key>
				<value>true</value>
			</entry>
			<entry>
				<key>for</key>
				<value>true</value>
			</entry>
			<entry>
				<key>while</key>
				<value>true</value>
			</entry>
			<entry>
				<key>do</key>
				<value>true</value>
			</entry>
			<entry>
				<key>switch</key>
				<value>true</value>
			</entry>
			<entry>
				<key>try</key>
				<value>true</value>
			</entry>
			<entry>
				<key>catch</key>
				<value>true</value>
			</entry>
			<entry>
				<key>array_initializer</key>
				<value>false</value>
			</entry>
		</before_left_brace>
	</spaces>
</codestyle>